* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: lightblue;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Satisfy', cursive;
  font-size: 70px;
  color: lightseagreen;
}

.title:hover {
  color: navy;
  opacity: 0.7;
  transition: 3s;
}